
@if(childTitle || parentTitle || subParentTitle){
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
  <h1 class="page-title fw-semibold fs-18 mb-0">{{childTitle}}</h1>
  <div class="ms-md-1 ms-0">
    <nav>
      <ol class="breadcrumb mb-0">
        @if(parentTitle){

        <li class="breadcrumb-item">
          <a href="javascript:void(0);">{{parentTitle}}</a>
        </li>
        }
        @if(subParentTitle){
        <li class="breadcrumb-item">
          <a href="javascript:void(0);"> {{subParentTitle}}</a>
        </li>
        }
        <li class="breadcrumb-item active" aria-current="page"> {{childTitle}}</li>
      </ol>
    </nav>
  </div>
</div>
}
