<!-- Start::row-1 -->
<div class="row">
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Line Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="basicLineChart" id="echart-basic-line" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Smoothed Line Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="smoothLineChart" id="echart-smoothed-line" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Area Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="basicAreaChart" id="echart-basic-area" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Stacked Line Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="stackedLineChart" id="echart-stacked-line" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Stacked Area Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="stackedAreaChart" id="echart-stacked-area" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Step Line Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="stepLineChart" id="echart-step-line" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Bar Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="basicBarChart" id="echart-bar-basic" class="echart-charts"></spk-echarts>

      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Bar With Background Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="barWithBackgroundChart" id="echart-bar-background" class="echart-charts"></spk-echarts>

      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Style For a Single Bar Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="singleBarChart" id="echart-bar-single" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Water Fall Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="waterfallChart" id="echart-waterfall" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Bar With Negative Values Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="barChartWithNegativeValues" id="echart-negative-values"
          class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Bar With Labels Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="barWithLabelsChart" id="echart-bar-labels" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Horizontal Bar Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="horizontalBarChart" id="echart-bar-horizontal" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Horizontal Stacked Bar Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="stackedHorizontalBarChart" id="echart-stacked-horizontal"
          class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Pie Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="pieChart" id="echart-pie" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Doughnut Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="doughnutChart" id="echart-doughnut" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Scatter Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="basicScatterChart" id="echart-scatter" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Simple Graph Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="bubbleChart" id="echart-bubble" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Candlestick Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="candlestickChart" id="echart-candlestick" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Radar Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="basicRadarChart" id="echart-basic-radar" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Heatmap Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="HeatmapChart" id="echart-heatmap" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Treemap Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="basicTreemapChart" id="echart-treemap" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Funnel Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="funnelChart" id="echart-funnel" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Gauge Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="basicGaugeChart" id="echart-gauge-basic" class="echart-charts"></spk-echarts>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Simple Graph Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="simpleGraphChart" id="echart-simple-graph" class="echart-charts"></spk-echarts>

      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Pictorial Chart</div>
      </div>
      <div class="card-body">

        <spk-echarts [options]="PictorialChart" id="echart-pictorial" class="echart-charts"></spk-echarts>


      </div>
    </div>
  </div>
</div>
<!--End::row-1 -->
