<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-body d-md-flex">
        <div class="">
          <span class="profile-image position-relative">
            <img class="br-5" alt="" src="./assets/images/faces/profile.jpg">
            <span class="bg-success text-white wd-1 ht-1 rounded-pill profile-online"></span>
          </span>
        </div>
        <div class="my-md-auto mt-4 prof-details">
          <h4 class="font-weight-semibold ms-md-4 ms-0 mb-1 pb-0">Sonya Taylor</h4>
          <p class="fs-13 text-muted ms-md-4 ms-0 mb-2 pb-2 ">
            <span class="me-3 d-inline-block"><i class="far fa-address-card me-2"></i>Ui/Ux Developer</span>
            <span class="me-3 d-inline-block"><i class="fa fa-taxi me-2"></i>West fransisco,Alabama</span>
            <span class="d-inline-block"><i class="far fa-flag me-2"></i>New Jersey</span>
          </p>
          <p class="text-muted ms-md-4 ms-0 mb-2"><span><i class="fa fa-phone me-2"></i></span>
            <span class="font-weight-semibold me-2">Phone:</span>
            <span>+94 12345 6789</span>
          </p>
          <p class="text-muted ms-md-4 ms-0 mb-2">
            <span><i class="fa fa-envelope me-2"></i></span>
            <span class="font-weight-semibold me-2">Email:</span>
            <span>spruko.space&#64;gmail.com</span>
          </p>
          <p class="text-muted ms-md-4 ms-0 mb-2">
            <span><i class="fa fa-globe me-2"></i></span>
            <span class="font-weight-semibold me-2">Website</span>
            <span>sprukotechnologies</span>
          </p>
        </div>
      </div>
      <div class="card-footer py-0">
        <div class="profile-tab tab-menu-heading border-bottom-0">
          <nav ngbNav #nav="ngbNav" class="main-nav-line p-0 tabs-menu profile-nav-line border-0 br-5 mb-0">
            <ng-container ngbNavItem>
              <a ngbNavLink class="mb-2 mt-2">About</a>
              <ng-template ngbNavContent>
                <div class="main-content-body">
                  <div class="card">
                    <div class="card-body p-0 border-0 p-0 rounded-10">
                      <div class="p-4">
                        <h4 class="fs-15 text-uppercase mb-3">BIOdata</h4>
                        <p class="m-b-5">Hi I'm Teri Dactyl,has been the industry's standard
                          dummy text ever since the 1500s, when an unknown printer took a
                          galley of type. Donec pede justo, fringilla vel, aliquet nec,
                          vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                          venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                          Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi.
                          Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                          consequat vitae, eleifend ac, enim.</p>
                        <div class="m-t-30">
                          <div class=" p-t-10">
                            <p class="text-primary mb-2 fs-14 fw-semibold">Lead designer / Developer
                            </p>
                            <p class="">websitename.com</p>
                            <p><b>2010-2015</b></p>
                            <p class="text-muted fs-13 m-b-0">Lorem Ipsum is simply dummy
                              text of the printing and typesetting industry. Lorem Ipsum
                              has been the industry's standard dummy text ever since the
                              1500s, when an unknown printer took a galley of type and
                              scrambled it to make a type specimen book.</p>
                          </div>

                          <div class="">
                            <p class="text-primary fw-semibold mb-2 fs-14">Senior Graphic Designer
                            </p>
                            <p class="">coderthemes.com</p>
                            <p><b>2007-2009</b></p>
                            <p class="text-muted fs-13 mb-0">Lorem Ipsum is simply dummy
                              text of the printing and typesetting industry. Lorem Ipsum
                              has been the industry's standard dummy text ever since the
                              1500s, when an unknown printer took a galley of type and
                              scrambled it to make a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="border-top"></div>
                      <div class="p-4">
                        <label class="main-content-label fs-13 mg-b-20">Statistics</label>
                        <div class="profile-cover__info ms-4 ms-auto p-0">
                          <ul class="nav p-0 border-bottom-0 mb-0 gap-4">
                            <li class="border p-2 br-5 bg-light wd-100 ht-70"><span
                                class="border-0 mb-1 pb-0 lh-1">113</span>Projects</li>
                            <li class="border p-2 br-5 bg-light wd-100 ht-70"><span
                                class="border-0 mb-1 pb-0 lh-1">245</span>Followers</li>
                            <li class="border p-2 br-5 bg-light wd-100 ht-70"><span
                                class="border-0 mb-1 pb-0 lh-1">128</span>Following</li>
                          </ul>
                        </div>
                      </div>
                      <div class="border-top"></div>
                      <div class="p-4">
                        <label class="main-content-label fs-13 mg-b-20">Contact</label>
                        <div class="d-sm-flex">
                          <div class="ms-3 mb-2">
                            <div class="main-profile-contact-list">
                              <div class="media">
                                <div class="media-icon bg-primary-transparent text-primary">
                                  <i class="icon ion-md-phone-portrait"></i>
                                </div>
                                <div class="media-body"> <span>Mobile</span>
                                  <div> +245 354 654 </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ms-3 mb-2">
                            <div class="main-profile-contact-list">
                              <div class="media">
                                <div class="media-icon bg-success-transparent text-success">
                                  <i class="icon ion-logo-slack"></i>
                                </div>
                                <div class="media-body"> <span>Slack</span>
                                  <div> &#64;spruko.w </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ms-3 mb-2">
                            <div class="main-profile-contact-list">
                              <div class="media">
                                <div class="media-icon bg-info-transparent text-info">
                                  <i class="icon ion-md-locate"></i>
                                </div>
                                <div class="media-body"> <span>Current Address</span>
                                  <div> San Francisco, CA </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="border-top"></div>
                      <div class="p-4">
                        <label class="main-content-label fs-13 mg-b-20">Social</label>
                        <div class="d-xl-flex">
                          <div class="ms-3 mb-2">
                            <div class="main-profile-social-list">
                              <div class="media">
                                <div class="media-icon bg-primary-transparent text-primary">
                                  <i class="icon ion-logo-github"></i>
                                </div>
                                <div class="media-body"> <span>Github</span> <a
                                    href="JavaScript:void(0);">github.com/spruko</a> </div>
                              </div>
                            </div>
                          </div>
                          <div class="ms-3 mb-2">
                            <div class="main-profile-social-list">
                              <div class="media">
                                <div class="media-icon bg-success-transparent text-success">
                                  <i class="ri ri-twitter-x-line"></i>
                                </div>
                                <div class="media-body"> <span>Twitter</span> <a
                                    href="JavaScript:void(0);">twitter.com/spruko.me</a> </div>
                              </div>
                            </div>
                          </div>
                          <div class="ms-3 mb-2">
                            <div class="main-profile-social-list">
                              <div class="media">
                                <div class="media-icon bg-info-transparent text-info">
                                  <i class="icon ion-logo-linkedin"></i>
                                </div>
                                <div class="media-body"> <span>Linkedin</span> <a
                                    href="JavaScript:void(0);">linkedin.com/in/spruko</a> </div>
                              </div>
                            </div>
                          </div>
                          <div class="ms-3 mb-2">
                            <div class="main-profile-social-list">
                              <div class="media">
                                <div class="media-icon bg-danger-transparent text-danger">
                                  <i class="icon ion-md-link"></i>
                                </div>
                                <div class="media-body"> <span>My Portfolio</span> <a
                                    href="JavaScript:void(0);">spruko.com/</a> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink class="mb-2 mt-2">Edit Profile</a>
              <ng-template ngbNavContent>
                <div class="main-content-body border-top-0">
                  <div class="card">
                    <div class="card-body border-0">
                      <div class="mb-4 main-content-label">Personal Information</div>
                      <form class="form-horizontal">
                        <div class="mb-4 main-content-label">Name</div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">User Name</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="User Name" value="Mack Adamia">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">First Name</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="First Name" value="Mack Adamia">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">last Name</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Last Name" value="Mack Adamia">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Nick Name</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Nick Name" value="Nowa">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Designation</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Designation" value="Web Designer">
                            </div>
                          </div>
                        </div>
                        <div class="mb-4 main-content-label">Contact Info</div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Email<i>(required)</i></label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Email" value="info@Nowa.in">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Website</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Website" value="@spruko.w">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Phone</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="phone number" value="+245 354 654">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Address</label>
                            </div>
                            <div class="col-md-9">
                              <textarea class="form-control" name="example-textarea-input" rows="2"
                                placeholder="Address">San Francisco, CA</textarea>
                            </div>
                          </div>
                        </div>
                        <div class="mb-4 main-content-label">Social Info</div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Twitter</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="twitter"
                                value="twitter.com/spruko.me">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Facebook</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="facebook"
                                value="javascript:void(0);Nowa">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Google+</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="google" value="spruko.com">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Linked in</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="linkedin"
                                value="linkedin.com/in/spruko">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Github</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="github" value="github.com/sprukos">
                            </div>
                          </div>
                        </div>
                        <div class="mb-4 main-content-label">About Yourself</div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Biographical Info</label>
                            </div>
                            <div class="col-md-9">
                              <textarea class="form-control" name="example-textarea-input" rows="4"
                                placeholder="">pleasure rationally encounter but because pursue consequences that are extremely painful.occur in which toil and pain can procure him some great pleasure..</textarea>
                            </div>
                          </div>
                        </div>
                        <div class="mb-4 main-content-label">Email Preferences</div>
                        <div class="form-group mb-0">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Verified User</label>
                            </div>
                            <div class="col-md-9">
                              <div class="custom-controls-stacked">
                                <label class="ckbox  mb-2"><input class="form-check-input mt-0" type="checkbox" value=""
                                    id="flexCheckChecked1" checked=""><span> Accept to receive post or
                                    page notification emails</span></label>
                                <label class="ckbox"><input class="form-check-input mt-0" type="checkbox" value=""
                                    id="flexCheckChecked2" checked=""><span> Accept to receive email
                                    sent to multiple recipients</span></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink class="mb-2 mt-2">Timeline</a>
              <ng-template ngbNavContent>
                @for (images of timelineImages; track $index) {
                <spk-profile-timeline [images]="images"></spk-profile-timeline>
                }

              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink class="mb-2 mt-2">Gallery</a>
              <ng-template ngbNavContent>
                <div class="main-content-body border-0 p-0" id="gallery">
                  <div class="card">
                    <div class="card-body">
                      <div class="row" gallerize>
                        @for (img of imageData; track img) {
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                          <a href="javascript:void(0);" class="glightbox card" data-gallery="gallery1">
                            <img [src]="img.srcUrl" previewFullscreen="true" alt="image" class="w-100">
                          </a>
                        </div>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink class="mb-2 mt-2">Friends</a>
              <ng-template ngbNavContent>
                <div class="main-content-body border-0 p-0" id="friends">
                  <div class="card">
                    <div class="card-body pd-b-10">
                      <!-- row -->
                      <div class="row row-sm">

                        @for (user of users; track user.id) {
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                          <div class="card custom-card border">
                            <div class="card-body user-lock text-center">

                              <spk-dropdowns [Customclass]="'dropdown text-end'" [class]="'option-dots no-caret'"
                                [Icon]="true" [IconClass]="'fe fe-more-vertical'"
                                [Menuclass]="'dropdown-menu dropdown-menu-end shadow'">
                                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);"><i
                                    class="fe fe-message-square me-2"></i> Message</a>
                                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);"><i
                                    class="fe fe-edit-2 me-2"></i> Edit</a>
                                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);"><i
                                    class="fe fe-eye me-2"></i> View</a>
                                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0);"><i
                                    class="fe fe-trash-2 me-2"></i> Delete</a>
                              </spk-dropdowns>


                              <a routerLink="/pages/profile">
                                <img [src]="user.img" [alt]="user.name" class="rounded-circle">
                                <h4 class="fs-16 mb-0 mt-3 text-dark fw-semibold">{{ user.name }}</h4>
                                <span class="text-muted">{{ user.role }}</span>

                                <div class="mt-3 d-flex text-center justify-content-center">
                                  <span class="btn btn-icon me-3">
                                    <span class="btn-inner--icon">
                                      <i class="bx bxl-facebook fs-18 tx-prime"></i>
                                    </span>
                                  </span>
                                  <span class="btn btn-icon me-3">
                                    <span class="btn-inner--icon">
                                      <i class="ri-twitter-x-line fs-15 tx-prime"></i>
                                    </span>
                                  </span>
                                  <span class="btn btn-icon me-3">
                                    <span class="btn-inner--icon">
                                      <i class="bx bxl-linkedin fs-18 tx-prime"></i>
                                    </span>
                                  </span>
                                </div>
                              </a>

                            </div>
                          </div>
                        </div>
                        }

                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink class="mb-2 mt-2">Account Settings</a>
              <ng-template ngbNavContent>
                <div class="main-content-body border-0 p-0" id="settings">
                  <div class="card">
                    <div class="card-body border-0" data-select2-id="12">
                      <form class="form-horizontal" data-select2-id="11">
                        <div class="mb-4 main-content-label">Account</div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">User Name</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="User Name" value="Sonia Taylor">
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Email</label>
                            </div>
                            <div class="col-md-9">
                              <input type="text" class="form-control" placeholder="Email" value="info@SoniaTaylor.in">
                            </div>
                          </div>
                        </div>
                        <div class="form-group " data-select2-id="108">
                          <div class="row" data-select2-id="107">
                            <div class="col-md-3">
                              <label class="form-label">Language</label>
                            </div>
                            <div class="col-md-9" data-select2-id="106">
                              <spk-ng-select [options]="languages" [bindLabel]="'name'" [bindValue]="'id'"
                                [placeholder]="'Select Language'" [(defaultValue)]="selectedLanguage"
                                [searchable]="true" [clearable]="true">
                              </spk-ng-select>

                            </div>
                          </div>
                        </div>
                        <div class="form-group " data-select2-id="10">
                          <div class="row" data-select2-id="9">
                            <div class="col-md-3">
                              <label class="form-label">Timezone</label>
                            </div>
                            <div class="col-md-9" data-select2-id="8">
                              <spk-ng-select [options]="timezones" [bindLabel]="'label'" [bindValue]="'value'"
                                [placeholder]="'Select Timezone'" [(defaultValue)]="selectedTimezone"
                                [searchable]="true" [clearable]="false">
                              </spk-ng-select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3 col">
                              <label class="form-label">Verification</label>
                            </div>
                            <div class="col-md-9 col">
                              <label class="ckbox  mb-2">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                  id="flexCheckChecked7"><span>Email</span></label>
                              <label class="ckbox  mb-2">
                                <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckChecked3"
                                  checked=""><span>SMS</span></label>
                              <label class="ckbox  mb-2">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                  id="flexCheckChecked8"><span>Phone</span></label>
                            </div>
                          </div>
                        </div>
                        <div class="mb-4 main-content-label">Security Settings</div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Login Verification</label>
                            </div>
                            <div class="col-md-9"> <a class="" href="javascript:void(0);">Settup Verification</a>
                            </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row row-sm">
                            <div class="col-md-3">
                              <label class="form-label">Password Verification</label>
                            </div>
                            <div class="col-md-9">
                              <label class="ckbox  mg-b-10">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                  id="flexCheckChecked9"><span>Require Personal
                                  Details</span></label>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="mb-4 main-content-label">Notifications</div>
                          <div class="form-group mb-0">
                            <div class="row row-sm">
                              <div class="col-md-3">
                                <label class="form-label">Configure
                                  Notifications</label>
                              </div>
                              <div class="col-md-9">
                                <label class="d-block mg-b-15-f">
                                  <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckChecked4"
                                    checked="">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="text-muted ms-2">Allow all
                                    Notifications</span>
                                </label>
                                <label class="d-block mg-b-15-f">
                                  <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckChecked6">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="text-muted ms-2">Disable all
                                    Notifications</span>
                                </label>
                                <label class="d-block mg-b-15-f">
                                  <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckChecked5"
                                    checked="">
                                  <span class="custom-switch-indicator"></span>
                                  <span class="text-muted ms-2">Notification
                                    Sounds</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group float-end">
                          <div class="row row-sm">
                            <div class="col-md-12 btn-list">
                              <a class="mg-r-20 btn btn-primary" href="javascript:void(0);">Deactivate Account</a>
                              <a class="btn btn-secondary" href="javascript:void(0);">Change Password</a>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Row -->
<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="custom-card main-content-body-profile customtab">
      <div [ngbNavOutlet]="nav" class="no-tap-padding no-tab-border"></div>
    </div>
  </div>
</div>
<!-- row closed -->
